.ion-header {
    text-align: center;
}
.ion-toolbar {
    --background: none;
    --ion-background-color: transparent;
    color: black;
}
.home-content {
    --background: none;
    --ion-background-color: transparent;
}